!.gitignore
.DS_Store
data/
perms.sh
LICENSE.txt
install/
config.php


composer.lock

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

/tests/tests/
/tests/results/

## Inicis log files
/shop/inicis/log/*
