[#{shop_name}]

똑똑똑~
#{order_name}님, 주문하신 상품이 고객님의 품으로 도착했습니다 (아잉)

제품에 만족하셨다면 #{order_name}님만의 생생한 리뷰를 남겨주세요 (야옹)
감사합니다♡

▷[#{shop_name}] 리뷰 남기기 : #{shortcut_link}
▷[#{shop_name}] 고객센터 : #{cs_phone}